html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#home {
    display: flex;
    overflow-x: hidden;
}
.bgvideo {
    z-index: -1;
    object-fit: cover;
}
.home-text {
    position: absolute;
    z-index: 1;
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    width: 600px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -300px;
}
.highlight {
    color: #E68FAC;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome, Edge, Opera and Firefox */
}
.home-button {
    height: 50px;
    width: 200px;
    margin-top: 40px;
    font-size: 16px;
    color: white;
    border: 3px solid white;
    background-color: rgba(0,0,0,0);
    outline:none;
    transition-duration: 0.5s;
}
.home-icon {
    height: 14px;
    width: auto;
    transition-duration: 0.5s;
}
.home-button:hover {
    border: 3px solid #E68FAC;
    color: #E68FAC;
    font-size: 18px;
}
.home-button:hover .home-icon {
    height: 18px;
    transform: rotate(90deg);
}
#nav {
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    top: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 40px;
    background-color: #0E2046;
    border-bottom: 3px solid #ffc800;
    scroll-behavior: smooth;
}
.nav-item{
    margin-left: 50px;
    color: white;
    text-align: center;
}
.nav-item-text{
    transition-duration: .5s;
}
.nav-item-text:hover {
    border-bottom: 1px solid #E68FAC;
    color: #E68FAC;
}
.nav-item-btn{
    font-size: 16px;
    color: white;
    background-color: rgba(0,0,0,0);
    border: none;
    outline:none;
    transition-duration: 0.5s;
}
#about{
}
.header-text {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 48px;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    text-decoration: underline;
    color: #0E2046;
}
.key-point-wrapper{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    /* border: 2px solid black; */

}
.key-point {
    text-align: center;
    height: 160px;
    width: 160px;
    padding: 10px;
    border: 1px solid #0E2046;
    margin: 0 30px;
}
.key-point-img{
    height: 100px;
    width: 100px;
    /* border: 2px solid green; */
    /* background-color: white; */
}
.key-point-main-text{
    font-weight: bold;
    font-size: 24px;
}
.key-point-me{
    text-align: center;
    height: 320px;
    width: 320px;
    padding: 20px;
    margin: 0 40px;
}
.key-point-me-img{
    height: 250px;
    width: 250px;
}
.key-point-text{
}
.about-text-wrapper{
    display: flex;
}
.about-text {
    margin: auto;
    text-align: center;
}
.about-me-wrapper{
    display: flex;
    padding: 20px 60px;
    margin: 40px auto;
    max-width: 1440px;
    justify-content: center;
}
.card-shadow{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card-img{
    width: 100%;
    border-radius: 6px;
    pointer-events: none;
}
.card-title-absolute{
    color: #3C4858;
    margin-top: .625rem;
    min-height: auto;
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-weight: 700;
    margin-bottom: 0.75rem;
    text-decoration: none;
    left: 15px !important;
    color: #FFF !important;
    bottom: 15px !important;
    position: absolute !important;
    font-size: 1.125rem !important;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5) !important;
}
.card-category{
    margin-top: 10px;
    color: #00acc1;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
}
.card-description{
    color: #999;
    font-size: 14px;
    margin: 0 0 10px;
}
.card-footer{
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-pack: center !important;
    margin-top: -15px;
    display: flex;
    padding: 0.9375rem 1.875rem;
    align-items: center;
    padding-top: 0;
    background-color: transparent;
}
/* Slider */
.card-block{
    display: block
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
  @media (min-width: 768px) {
    .slick-slider .slick-caption {
      display: block !important; } }
  .slick-slider .slick-caption {
    padding-bottom: 45px;
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    color: #ffffff;
    text-align: center;
    z-index: 3;
    display: none; }
  .slick-slider .slick-slide > div:first-child {
    position: relative; }
  .slick-slider .slick-icons {
    position: relative;
    top: 5px; }
  .slick-slider .slick-image {
    width: 100% !important;
    height: 105%;
    display: inline-flex !important; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ""; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

button.slick-arrow.slick-prev,
button.slick-arrow.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  height: 100%;
  padding: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  color: transparent;
  outline: none;
  background: transparent;
  width: 15%;
  z-index: 2;
  opacity: 0.5; }

.slick-prev {
  left: 0; }
  .slick-prev::before {
    content: "\f053";
    font-weight: 600;
    font-family: Font Awesome\ 5 Free;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: white;
    font-size: 30px;
    width: 100%; }

.slick-next {
  right: 0; }
  .slick-next::before {
    content: "\f054";
    font-weight: 600;
    font-family: Font Awesome\ 5 Free;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #fff;
    font-size: 30px;
    width: 100%; }

.slick-list {
  z-index: 1; }

.slick-dots {
  margin-top: 0;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  z-index: 3; }

.slick-dots li,
.slick-dots li button {
  width: 20px;
  height: 20px;
  cursor: pointer; }

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }
  .slick-dots li button::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: "\2022";
    text-align: center;
    opacity: 1;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: all 300ms linear; }

.slick-dots li.slick-active button:before {
  width: 15px;
  height: 15px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  top: -3px; }
.slick-shadow{
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086)
}
.grid-container{
    margin-bottom: 50px;
}
.side-text-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px dashed gray;
    margin-top: 0;
}
.side-text-header{
    text-align: center;
}
.side-text-body{
    padding: 15px;
}

/* contact section start */
.contact-section{
    background-color: lightgrey;
    padding-bottom: 80px;
}
.contact-wrapper{
    max-width: 1440px;
    margin: auto;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;

    border-top: 100px solid white;
    margin: auto;
}
.contact-grid{
    margin-top: 24px;
}
.contact-question{
    text-align: center;
}
.contact-form{
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 50vw;
}
.contact-message{
    height: 80px;
}
.form-input{
    margin-top: 18px;
    padding-bottom: 18px;
}
.form-error{
    color: red;
    margin-top: 0;
}
.form-error::before {
  display: inline;
  content: "⚠ ";
}
.form-button{
    margin-top: 14px;
    display: flex;
    justify-content: center;
}
btn:disabled{

}
.social-wrapper{
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.svg-inline--fa.fa-w-16{
    width: 20px;
}
.svg-inline--fa.fa-w-14{
        width: 20px;
}
/* contact section end */

@media (min-aspect-ratio:16/9) {
    .bgvideo{
        width: 100vw;
        height: 100vh;
        background-color: rgb(3,5,6);
    }
}
@media (max-aspect-ratio:16/9) {
    .bgvideo{
        width: auto;
        height: 100vh;
    }
}
@media (max-width: 767px) {
    .bgvideo{
        display: none;
    }
    .header{
        background: url('bgposter.png');
        background-size: cover;
        background-position:center top;
        background-repeat:no-repeat;
    }
}
