@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sansita+Swashed:wght@700&display=swap');

html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.MuiGrid-container{
    justify-content: center;
}
.MuiGrid-grid-xs-3{
    max-width: 75%

}
/* Home Start */
#home {
    display: flex;
    overflow-x: hidden;
    height: 100vh;
}
.home-text {
    position: absolute;
    z-index: 1;
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.highlight {
    color: #6297e7;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome, Edge, Opera and Firefox */
}
.home-button {
    height: 50px;
    width: 200px;
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    border: 3px solid white;
    background-color: rgba(0,0,0,0);
    outline:none;
    transition-duration: 0.5s;
}
.home-icon {
    height: 14px;
    width: auto;
    transition-duration: 0.5s;
}
.home-button:hover {
    border: 3px solid white;
    color: white;
    font-size: 24px;
}
.home-button:hover .home-icon {
    height: 18px;
    transform: rotate(90deg);
}
/* Home End */

/*Nav Start */
#nav {
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    top: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 40px;
    background-color: white;
    border-bottom: 3px solid #801357;
    scroll-behavior: smooth;
}
.nav-item{
    margin-left: 50px;
    color: white;
    text-align: center;
}
.nav-item-text{
    transition-duration: .5s;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: #801357;

}
.nav-item-text:hover {
    border-bottom: 1px solid #e7627d;
    color: #e7627d;
}
.nav-item-btn{
    font-size: 16px;
    color: ;
    background-color: rgba(0,0,0,0);
    border: none;
    outline:none;
    transition-duration: 0.5s;
}
@media screen and (max-width: 450px) {
    #nav{
        justify-content: space-around;
    }
    .nav-item{
        margin-left: 0;
    }
}
/* Nav End */

/* About Start */
#about{

}
.header-text {
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    text-decoration: underline;
    color: #801357;
}
.key-point-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: center;

    /* border: 2px solid black; */
}
.key-point {
    text-align: center;
    height: 160px;
    width: 160px;
    padding: 10px;
    border: 1px solid #0E2046;
    margin: 0 30px;
}
@media screen and (max-width: 970px) {
    .key-point-wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
        margin: 0 50px;
    }
    .key-point{
        margin: 10px auto;
    }
}
@media screen and (max-width: 450px) {
    .key-point-wrapper{
        display: flex;
        flex-direction: column;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }
    .key-point{
        margin: 10px auto;
    }
}

.key-point-img{
    height: 100px;
    width: 100px;
    /* border: 2px solid green; */
    /* background-color: white; */
}
.key-point-main-text{
    font-weight: bold;
    font-size: 24px;
}
.key-point-me{
    text-align: center;
    height: 320px;
    width: 320px;
    padding: 20px;
    margin: 0 40px;
}
.key-point-me-img{
    height: 250px;
    width: 250px;
}
.key-point-text{
}

.about-text {
    margin: auto;
    text-align: center;
    padding: 24px;
}
.about-me-wrapper{
    display: flex;
    padding: 60px 30px;
    margin: 0 auto;
    max-width: 1440px;
    justify-content: center;
}
.about-body-wrapper{
    display: flex;
    justify-content: center;
}
.about-card-wrapper{
    max-width: 33%;
    margin: 0 10px;
}
.about-text-wrapper{
    max-width: 55%;
    margin: auto 10px;
}
@media screen and (max-width: 750px) {
    .about-body-wrapper{
        flex-direction: column;
    }
    .about-card-wrapper{
        max-width: 85%;
        margin: 10px auto;
    }
    .about-text-wrapper{
        max-width: 85%;
        margin: 10px auto;
    }
}
@media screen and (max-width: 750px) {
    .about-me-wrapper{
        padding: 45px 15px;
    }
}

.card-shadow{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card-img{
    width: 100%;
    border-radius: 6px;
    pointer-events: none;
}
.card-title-absolute{
    color: #3C4858;
    margin-top: .625rem;
    min-height: auto;
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-weight: 700;
    margin-bottom: 0.75rem;
    text-decoration: none;
    left: 15px !important;
    color: #FFF !important;
    bottom: 15px !important;
    position: absolute !important;
    font-size: 1.125rem !important;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5) !important;
}
.card-category{
    margin-top: 10px;
    color: #00acc1;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 500;
}
.card-description{
    color: #999;
    font-size: 14px;
    margin: 0 0 10px;
}
.card-footer{
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-pack: center !important;
    margin-top: -15px;
    display: flex;
    padding: 0.9375rem 1.875rem;
    align-items: center;
    padding-top: 0;
    background-color: transparent;
}

/* About End */

/* Portfolio Start */
/* Slider */
.carousel-wrapper{
     display: flex;
     max-width:1440px;
     justify-content: center;
     padding-bottom: 30px;
     margin: auto;
}
.carousel-imgs-1{
    width: 65%;

}
.carousel-txt-1{
    width: 25%;
    margin-left: 10px;
}
.carousel-imgs-2{
    width: 65%;
}
.carousel-txt-2{
    width: 25%;
    margin-right: 10px;
}
@media screen and (max-width: 630px) {
    .carousel-wrapper{
        width: 85vw;
        margin: auto;
        flex-direction: column;
    }
    .carousel-imgs-1{
        width: 100%;
    }
    .carousel-txt-1{
        width: 100%;
        margin-left: 0;
    }
    .carousel-imgs-2{
        width: 100%;
        margin-bottom: 25px;
    }
    .carousel-txt-2{
        width: 100%;
        margin-right: 0;
        margin-bottom: -25px;
    }
}
.card-block{
    display: block
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
  @media (min-width: 768px) {
    .slick-slider .slick-caption {
      display: block !important; } }
  .slick-slider .slick-caption {
    padding-bottom: 45px;
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    color: #ffffff;
    text-align: center;
    z-index: 3;
    display: none; }
  .slick-slider .slick-slide > div:first-child {
    position: relative; }
  .slick-slider .slick-icons {
    position: relative;
    top: 5px; }
  .slick-slider .slick-image {
    width: 100% !important;
    height: 105%;
    display: inline-flex !important; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ""; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

button.slick-arrow.slick-prev,
button.slick-arrow.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  height: 100%;
  padding: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  color: black;
  outline: none;
  background: transparent;
  width: 15%;
  z-index: 2;
  opacity: 0.5; }
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
.slick-prev {
  left: 0; }
  .slick-prev::before {
    content: "\f053";
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: black;
    font-size: 30px;
    width: 100%; }

.slick-next {
  right: 0; }
  .slick-next::before {
    content: "\f054";
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: black;
    font-size: 30px;
    width: 100%; }

.slick-list {
  z-index: 1; }

.slick-dots {
  margin-top: 0;
  margin-bottom: 1rem;
  position: absolute;
  bottom: 5px;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  z-index: 3; }

.slick-dots li,
.slick-dots li button {
  width: 20px;
  height: 20px;
  cursor: pointer; }

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }
  .slick-dots li button::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: "\2022";
    text-align: center;
    opacity: 1;
    background-color: darkgray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    transition: all 300ms linear; }

.slick-dots li.slick-active button:before {
  width: 15px;
  height: 15px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  top: -3px; }
.slick-shadow{
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086)
}
#portfolio{
    background-color: lightgrey;
}
.grid-container{
    margin-bottom: 50px;
}
.side-text-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px dashed gray;
    margin-top: 0;
}
.side-text-header{
    text-align: center;
}
.side-text-subheader{
    text-align: center;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px darkgrey solid;
}
.side-text-body{
    padding: 15px;
}
.sl-contain{
    display: block;
    width: 65vw;
}

/* contact section start */
.contact-section{
    background-color: grey;
    padding-bottom: 80px;
}
.contact-wrapper{
    max-width: 1440px;
    margin: auto;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 100px solid lightgrey;
    margin-top: -1px;
}
.arrow-down-portfolio{
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top:  100px solid white;
    margin-top: -1px;
}
.contact-grid{
    margin-top: 24px;
}
.contact-question{
    text-align: center;
}

@media screen and (max-width: 750px) {
    .contact-form-wrapper{
        width: 90vw;
        margin: auto;
    }
}
.contact-form{
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 640px;
}
.contact-message{
    height: 80px;
}
.form-input{
    margin-top: 18px;
    padding-bottom: 18px;
}
.form-error{
    color: red;
    margin-top: 0;
}
.form-error::before {
  display: inline;
  content: "⚠ ";
}
.form-button{
    margin-top: 14px;
    display: flex;
    justify-content: center;
}

.social-wrapper{
    max-width: 640px;
    margin: auto;
    display: flex;
}
.social-paper{
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
    padding-bottom: 30px;
}
.social-header{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}
.social-item-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}
.social-item{
    margin: auto;
}
.contact-back-to-top{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.svg-inline--fa.fa-w-16{
    width: 20px;
}
.svg-inline--fa.fa-w-14{
    width: 20px;
}
.svg-inline--fa.fa-w-10{
    width:16px;
}
@media screen and (max-width: 400px) {
    .social-text{
        display: none;
    }
}
/* contact section end */



/* Start Wave background css */
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    margin-top: -1px;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: #03001e;  /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);

}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
   animation: move-wave 3s linear infinite;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
/* End Wave Background CSS */
